{% extends "layout.html" %}
{% block app_content %}
    <div>
        <h2>Add Category</h2>
    </div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.category_name.label(class="form-label") }}
            {{ form.category_name(class="form-field") }}
            {% if form.category_name.errors %}
                <div>
                    {% for error in form.category_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            {{ form.submit(class="green-btn") }}
        </div>
    </form>
    <form>
         <button type="submit" formaction="{{ url_for('catalog') }}">Cancel</button>
    </form>
{% endblock app_content %}