{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
        <h2>Edit Category</h2>
    </div>
    <form class="form-group" method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

            {{ wtf.form_field(form.category_name, value=category.name) }}
            {{ wtf.form_field(form.submit, class="btn btn-primary") }}
        </div>
    </form>
    <a href="{{ url_for('catalog_category', selected_category_id=category.id) }}">
        <button class="btn btn-danger">Cancel</button>
    </a>
{% endblock app_content %}