{% extends "layout.html" %}
{% block app_content %}
    <div>
        <h2>
            Categories
        </h2>
        <ul>
            {% for category in categories %}
            <li>
                {{ category.name }}
            </li>
                {% if current_user == category.creator %}
                    <span><a href="{{ url_for('edit_category') }}">Edit</a></span>
                    <span><a href="{{ url_for('delete_category') }}">Delete</a></span>
                {% endif %}
            {% endfor %}
        </ul>
        <form>
            {% if current_user.is_authenticated %}
                <button type="submit" formaction="{{ url_for('add_category') }}">Add Category</button>
            {% endif %}
        </form>
    </div>
    <div>
        <h3>
            Items
        </h3>
        <form>
            {% if current_user.is_authenticated %}
                <button type="submit" formaction="{{ url_for('add_item') }}">Add Item</button>
            {% endif %}
        </form>
        <h4>Latest Items</h4>
        <ul>
            {% for item in items %}
            <li>
                {{ item.name }} <span>({{item.category}})</span>
                <a href="{{ url_for('show_item_details', item=item) }}"> Details </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock app_content %}