{% extends "layout.html" %}
{% block app_content %}
    <div>
        <h2>Item Details</h2>
    </div>
    <div>
        <li>
            Item Name: {{ item.name }}
        </li>
        <li>
            Item Category: {{ item.category }}
        </li>
        <li>
            Item Description: {{ item.description }}
        </li>
        {% if current_user == item.creator %}
            <a href="{{ url_for('edit_item') }}">
                <button class="btn btn-lg btn-primary btn-block">Edit</button>
            </a>
            <a href="{{ url_for('delete_item') }}">
                <button class="btn btn-lg btn-primary btn-block">Delete</button>
            </a>
            <a href="{{ url_for('catalog') }}">
                <button class="btn btn-lg btn-secondary btn-block">Back</button>
            </a>
        {% endif %}
    </div>
{% endblock app_content %}