{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
        <h2>Edit Item</h2>
    </div>

    <form class="form-group" method="POST" action="">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.item_name, value=item.name) }}
        {{ wtf.form_field(form.item_category, value=items_category) }}
        {{ wtf.form_field(form.item_details, value=item.description) }}
        {{ wtf.form_field(form.submit, class="btn btn-primary") }}
    </form>
    <a href="{{ url_for('show_item_details', selected_item_id=item.id) }}">
        <button class="btn btn-danger">Cancel</button>
    </a>

{% endblock app_content %}