{% extends "layout.html" %}
{% block content %}
    {{ super() }}
    <div class="page-header">
        <h2>Confirm Item Delete</h2>
    </div>

    <div>
        <h3>Are you sure you want to delete this item?</h3>
        Item: {{item.name}}

        <br><br>
        <form action="{{url_for('delete_item', item_name = item_name)}}" method="post">
            <input type="submit" value="Delete">
                <a href="{{url_for('catalog')}}">Cancel</a>
        </form>
    </div>


{% endblock content %}