{% extends 'bootstrap/base.html' %}
{% block title %}
    Catalog App
{% endblock title %}

{% block navbar %}
    <nav>
        <ul>
            <li><a href="{{ url_for('catalog') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif %}

        </ul>
    </nav>
{% endblock navbar %}

{% block content %}
    <header>
        <div>
            <h2>Catalog App</h2>

        </div>
    </header>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for  message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block app_content %}{% endblock %}
{% endblock content %}