{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
        <h2>Please sign in</h2>
    </div>

    <form class="form-signin" method="POST" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.email, placeholder="Email address") }}
        {{ wtf.form_field(form.password, class="form-control", placeholder="Password") }}
        {{ wtf.form_field(form.submit, class="btn btn-lg btn-primary") }}
    </form>

    <div>
        <small >
            Don't Have An Account Yet? <a  href="{{ url_for('signup') }}">Sign Up</a>
        </small>
    </div>
{% endblock app_content %}