{% extends "layout.html" %}
{% block content %}
    <div class="categories-container">
        <h3>
            Categories
        </h3>
        <ul>
            <li class="category-item">
                Lorem ipsum dolor sit amet
            </li>
            <li class="category-item">
                Consectetur adipiscing elit
            </li>
            <li class="category-item">
                Integer molestie lorem at massa
            </li>
        </ul>
        <button type="button" class="add-button">
            Add Category
        </button>
    </div>

    <div class="items-container">
        <h3>
            Items
        </h3>
        <ul>
            <li class="item-item">
                Lorem ipsum dolor sit amet
            </li>
            <li class="item-item">
                Consectetur adipiscing elit
            </li>
            <li class="item-item">
                Integer molestie lorem at massa
            </li>
        </ul>
        <button type="button" class="add-button">
            Add Item
        </button>
    </div>

{% endblock content %}