<!DOCTYPE html>
<html>
    <head>
        <title>Catalog App</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <h2 class="logo">Catalog App</h2>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Log In</a></li>
                    </ul>
                </nav>
            </div>
      </header>
      <div class="main-content">
          {% block content %}{% endblock %}
      </div>
    </body>
</html>